<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="">
            <h1> Reservations </h1>
            <form th:action="@{/search}" method="get">
  <input type="text" name="firstName" th:value="${firstName}"  placeholder="Find by FirstName" size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="submit" class="btn btn-info" >Reset</button>
  </form>
            
        </div>
    </div>
    <a th:href="@{/add-form}">
        <button type="button" class="btn btn-success">Add Reservation</button>
    </a>
    <div class="row">
   
        <div class="p-4">
            <table class="table table-light table-striped">
                <thead>
                <tr>
                    <!--
                     <th>Id</th>
                    -->
                    <th>First Name</th>
                     <th>Last Name</th>
                     <th>Mobile No</th>
                     <th>Email Id</th>
                     <th>City </th> 
                     <th>State </th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${reservations.empty}">
                    <td colspan="2"> No Reservations Available</td>
                </tr>
               
               
                <tr th:each="reservation : ${reservations}">
                    <!--
                    <td><span th:text="${reservation.id}"> Id </span></td>
                    -->
                    <td><span th:text="${reservation.firstName}"> First Name </span></td>
                    <td><span th:text="${reservation.lastName}"> Last Name </span></td>
                    <td><span th:text="${reservation.mobileNo}"> Mobile No </span></td>
                    <td><span th:text="${reservation.emailId}">  Email Id </span></td>
                    <td><span th:text="${reservation.city}">City</span></td>
                    <td><span th:text="${reservation.state}"> State  </span></td>
                      <td><span th:text="${reservation.date}"> Date  </span></td>
                    
                    <td>
                        <a th:href="@{/delete-reservation/{id}(id=${reservation.id})}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        <a th:href="@{/edit-form/{id}(id=${reservation.id})}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>